<!-- Jumbotron============================================================ -->
<!-- <div class="vf-logo">
	<div><%= image_tag("vf_logo.png", :alt => "Team Icon") %></div>
</div> -->

<!-- Pasted the header from the Application html next -->

<header>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header" id="brand">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					    <span class="sr-only">Toggle navigation</span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand lg-logo" href="/">
						<%= image_tag "vf_logo.svg" %>
					</a>
					<a class="navbar-brand sm-logo" href="/">
						<%= image_tag("vf_logo_h.svg", :alt => "VF Logo") %>
					</a>
				</div><!-- navbar-header -->

				<div class="navbar-collapse collapse">
					<!-- Add a search field -->
					<%= form_tag("/episodes", method: "get") do %>
						<div class="navbar-form navbar-right" role="search">
							<div class="form-group search-box">
								<!-- <%= label_tag(:q, "Search for:") %> -->
								<%= text_field_tag :q, "", class: "form-control search-mod" %>
								<%= submit_tag("Search", class: "form-control search-mod") %>
							</div>
						</div>
					<% end %>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/static_pages/index/#team">El "Team"</a></li>
						<li><a href="/episodes">El "Show"</a></li>
						<li><a href="/static_pages/index/#contacto">Contacto</a></li>
						<% if user_signed_in? %>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Profile <%= "Admin" if current_user.admin? %><span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><%= link_to "Edit your profile", edit_user_path(current_user) %></li>
									<li><%= link_to "View your profile", user_path(current_user) %></li>
									<% if can? :show, @user %>
									<li role="separator" class="divider"></li>
									<li><%= link_to 'Users', users_path %></li>
									<% end %>
								</ul>
							</li>
							<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
						<% else %>
						    <li><%= link_to('Login', new_user_session_path) %></li>
							
						<% end %>
					</ul>
				</div><!-- Navbar-collapse collapse -->

			</div><!-- container-fluid" -->
		</nav>
	</header>

<div id="home"></div>
<div class="container-fluid jumbotron">
	<div class="">
		<h1>Viernes Friki</h1>
		<p>Tecnología | Diseño | Cultura Friki</p>
		<a href="#contacto"><button type="button" class="btn btn-default" id="btn-hello">Di Hola</button></a>
		<a href="episodes#index"><button type="button" class="btn btn-default" id="btn-podcast">El Show</button></a>
	</div><!-- jumbotron -->
</div><!-- container-fluid -->

<!-- Hero Image============================================================ -->
<div class="container-fluid hero-unit">
	<div class="row">
		<%= image_tag("hero_2192x900.jpg", :class => "img-responsive center-block") %>
	</div>
	<!-- Static hero image -->
</div><!-- container-fluid -->

<!-- Thumbnails============================================================ -->
<div class="container" id="team">
	<h2 class="page-header home-header">¿Qué es?</h2>
	<div class="row">
		<div class="col-sm-6">
			<div class="thumbnail">
				<%= image_tag("team-4.png", :alt => "Team Icon") %>
				<div class="caption">
					<h3>Sobre el <em>Team</em></h3>
					<p>Con sobre 35 años de experiencia en tecnología e informática, Luiggie y Joe combinan sus poderes tecnológicos para brindarte un punto de vista único en temas diversos y triviales. <strong>José Ramos</strong> es un profesional creativo, diseñador por vocación, y propietario de <span><a href="http://train-your-brain.me">Train Your Brain</a></span>, especialistas en formación y diseño. Certificado como experto en Adobe InDesign, Photoshop, InCopy, Illustrator, Acrobat Pro y Dreamweaver, José es un fiebrú de Adobe y formador <em>Senior</em> en <span><a href="http://train-your-brain.me">LinkedIn Learning</a></span>. Además, es coautor de <em>InDesign CS5 Learn by Video</em> de PeachPit Press. Por otro lado, <strong>Luis Santos</strong> es especialista en preprensa y temas de producción de publicaciones para impresión. Entusiasta fotógrafo especializado en <em>street photography</em>, se le puede encontrar vagando por las calles del Viejo San Juan en busca de la foto perfecta.</p>
				</div><!-- caption -->
			</div><!-- thumbnail -->
		</div><!-- col-sm-6 -->

		<div class="col-sm-6">
			<div class="thumbnail">
				<%= image_tag("podcast-4.png", :alt => "Podcast Icon") %>
				<div class="caption">
					<h3>El <em>Show</em></h3>
					<p>En una sambumbia de tecnología, películas, shows de TV y cultura <em>geek</em> en general, <strong>Viernes Friki</strong> es el show indicado para pasar un rato agradable, sano y lleno de las cosas que te gustan a ti. Hablamos de nuestro amor por todas las cosas Apple, nuestro encanto con las películas de ciencia ficción, la música popular, reseñas de aparatos tecnológicos, juegos, APPs, figuras de acción, comics, arte y diseño y cualquier otra cosa que se nos viene a la mente en un momento dado. Así que si quieres perder tu tiempo un viernes en la noche, o cualquier otro día que se te antoje, acompáñanos en este viaje por el maravilloso mundo de todo lo friki.</p>
				</div><!-- caption -->
			</div><!-- thumbnail -->
		</div><!-- col-sm-6" -->
		
	</div><!-- End of row -->

	<a href="episodes#index"><button type="button" class="btn btn-default btn-round">El Show</button></a>
</div><!-- container -->

<!-- Contact Form============================================================ -->
		
<div class="container" id="contacto">
	<h2 class="page-header home-header">Contacto</h2>
	<p class="lead">¿Quieres decirnos “hola”? O tal vez tengas un comentario que quieras hacer sobre uno de nuestros episodios del Podcast. Entonces, llena el formulario abajo y dinos lo que está en tu mente. No te prometemos una respuesta, pero será muy divertido para nosotros leer lo que opinas.</p>
	<%= form_tag("/static_pages/thank_you") do %>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<%= label_tag :name, "Nombre" %>
					<%= text_field_tag :name, nil, class: "form-control", placeholder: "Introduce tu nombre" %>
				</div>
			</div><!-- col-md-6 -->

			<div class="col-md-6">
				<div class="form-group">
					<%= label_tag :email, "Correo electrónico" %>
					<%= text_field_tag :email, nil, class: "form-control", placeholder: "Introduce tu correo electrónico" %>
				</div>
			</div><!-- col-md-6 -->
		</div><!-- row -->

		<div class="form-group">
			<div class="form-group">
				<%= label_tag :message, "Mensaje" %>
				<%= text_area_tag :message, nil, class: "form-control", placeholder: "Escribe tu mensaje" %>
			</div>
		</div><!-- form-group -->

		<%= submit_tag "Enviar", class: "btn btn-default btn-round submit-bottom" %>
	<% end %>
	
</div><!-- container-fluid -->
