<!DOCTYPE html>
<html>
<head>
  <title>Viernesfriki</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script src="https://use.typekit.net/gvg7ihz.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- This is where I cut the Header or Navigation -->

	<% if notice %>
		<div class="alert alert-info no-bottom extra-margin" role="alert"><%= notice %></div>
	<% end %>
	<% if alert %>
		<div class="alert alert-danger no-bottom extra-margin" role="alert"><%= alert %></div>
	<% end %>

<%= yield %>

</body>
</html>
